version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: orders_postgres
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: orders
    ports:
      - "5431:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d ticketing"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
